= form_for @barrel do |f|
  = error_messages_for @barrel

  .well


    .row
      .col-md-4
        .form-group
          = f.label :location
          = f.text_field :location, class: 'form-control'
          = f.error_messages_for(:location)
      .col-md-4
        .form-group
          = f.label :date_of_manufacture
          .input-group.date.datepicker
            = f.text_field(:date_of_manufacture, value: lnil(f.object.date_of_manufacture),
            class: 'form-control')
            %span.input-group-addon
              %span.glyphicon.glyphicon-calendar
          = f.error_messages_for(:date_of_manufacture)
    .row
      .col-md-4
        .form-group
          = f.label :amount
          = f.text_field :amount, class: 'form-control'
          = f.error_messages_for(:amount)

      .col-md-4
        .form-group
          = f.label :is_empty
          = f.select :is_empty, ["Пустая", "Не пустая"],
          {include_blank: true}, {class: 'form-control'}
          = f.error_messages_for(:is_empty)
    .row
      .col-md-4
        .form-group
          = f.label :date_of_completion
          .input-group.date.datepicker
            = f.text_field(:date_of_completion, value: lnil(f.object.date_of_completion),
            class: 'form-control')
            %span.input-group-addon
              %span.glyphicon.glyphicon-calendar
          = f.error_messages_for(:date_of_completion)

    .row
      .col-md-6
        .form-group
          = f.label :wine_sort_id
          = f.select :wine_sort_id,
          options_for_select((WineSort.all.map{|t| ["#{t.name}, #{t.type_of_wine}, #{t.color}, [выдержка(бочка/бутылка):#{t.barrel_extract.to_s}/#{t.bottle_extract.to_s}]", t.id]}), f.object.wine_sort_id),
          {include_blank: true}, {class: 'form-control'}
      -# = f.fields_for :wine_sort, f.object.wine_sort || f.object.build_wine_sort do |pf|
      -#   %fieldset#wine_sort-fieldset{"data-content" => "#{render "wine_sort_barrel_form", pf: pf}"}
      -#     %div#wine_sort-fields

  .actions
    = f.submit 'Сохранить', class: 'btn btn-primary', id: 'save'
  %p
