%h1= t('app.barrels.index')

%table.table.table-hover.table-striped.center
  %caption
    .pull-right
      = link_to t('app.barrels.new-button'), new_barrel_path, class: 'btn btn-primary'
  %thead
    %tr
      %th= Barrel.human_attribute_name(:location)
      %th= Barrel.human_attribute_name(:date_of_manufacture)
      %th= Barrel.human_attribute_name(:amount)
      %th= Barrel.human_attribute_name(:is_empty)
      %th= Barrel.human_attribute_name(:date_of_completion)
      %th= Barrel.human_attribute_name(:wine_sort_id)
      %th.p50
      %th.p50
      %th.p50

  %tbody
    - @barrels.each do |barrel|
      %tr
        %td= barrel.location
        %td= barrel.date_of_manufacture
        %td= barrel.amount
        %td= barrel.is_empty
        %td= barrel.date_of_completion
        %td= barrel.wine_sort.name + ',' + barrel.wine_sort.type_of_wine
        %td
          = link_to barrel, class: 'btn btn-success' do
            = fa_icon :eye
        %td
          = link_to edit_barrel_path(barrel), class: 'btn btn-info' do
            = fa_icon :edit
        %td
          = link_to barrel, :method => :delete, :data => { :confirm => t('helpers.sure') }, class: 'btn btn-danger' do
            = fa_icon :times
